body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}


.floor{
    background-color: rgb(75, 47, 26);
    clip-path: polygon(46% 60%, 0% 100%, 100% 100%);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0%;
}

.wallleft{
    background-color: rgb(233, 232, 226);
    clip-path: polygon(0 0, 46% 0, 46% 60%, 0% 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    align-self: flex-start;
    position: absolute;
}

.wallright{
    background-color: rgba(235, 233, 225, 0.849);
    clip-path: polygon(100 0, 46% 0, 46% 60%, 100% 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}


.trimleft{
    clip-path: polygon(0 98%, 46% 58%, 46% 60%, 0% 100%);
    background-color: rgb(250, 250, 250);  
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.trimright{
    clip-path: polygon(100% 100%, 46% 60%, 46% 58%, 100% 98%);
    background-color: rgb(241, 241, 241);  
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.tv{
    position: absolute;
    background-color: rgb(143, 143, 143);
    height: 35%;
    width: 30%;
    z-index: 3;
    top: 50%;
    left: 33%;
}

.tvdepth{
    position: absolute;
    background-color: rgb(92, 92, 92, 0.9);
    height: 35.5%;
    width: 30%;
    z-index: 3;
    top: 49.5%;
    left: 33%;
    border-radius: 1%;
}

.tvshadow{
    position: absolute;
    background-color: rgba(22, 22, 22, 0.5);
    height: 35.5%;
    width: 30.25%;
    z-index: 3;
    top: 49.75%;
    left: 33%;
    border-radius: 1.5%
}

.tvscreen{
    background-color: black;
    width: 85%;
    height: 85.25%;
    position: absolute;
    left: 7.5%;
    top: 5.75%;
    z-index: 3;
}


.tvbutton{
    background-color:rgb(143, 143, 143);
    width: 2.5%;
    height: 3%;
    position: absolute;
    left: 88%;
    top: 94%;   
    border: 1px, rgb(63, 62, 62, 0.3), solid;
    border-radius: 2%;
    z-index: 26;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked ~ .hidden-box {
    display: block;
}

.toggle-checkbox:checked + label + .tvlight{
    background-color:rgba(15, 15, 15, 0.8);
    width: .25%;
    height: .25%;
    position: absolute;
    left: 85.75%;
    top: 94.75%;   
    border: 2px, rgba(255, 0, 0, 0.2), solid;
    border-radius: 100%;
}

.tvlight{
    background-color:rgb(255, 0, 0, 0.8);
    width: .25%;
    height: .25%;
    position: absolute;
    left: 85.75%;
    top: 94.75%;   
    border: 2px, rgba(255, 0, 0, 0.2), solid;
    border-radius: 100%;
}

.tvstand{
    position: absolute;
    background-color: rgb(129, 129, 129);
    clip-path: polygon(16% 0, 84% 0, 90% 95%, 100% 100%, 0 100%, 10% 95%);
    height: 35%;
    width: 30%;
    z-index: 2;
    top: 52.25%;
    left: 33%;
}

.smashbg{
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 98%;
    position: absolute;
    left: 1%;
    top: 1%;
}

.sky{
    background-image: linear-gradient(rgb(95, 71, 230), rgb(214, 157, 166), rgb(252, 180, 86), white, white);
    width: 98%;
    height: 98%;
    position: absolute;
    left: 1%;
    top: 1%;
}

.mtnclose{
    clip-path: polygon(0 100%, 0% 37%, 8% 36%, 16% 37%, 23% 34%, 31% 33%, 39% 37%, 47% 32%, 52% 27%, 57% 22%, 64% 22%, 68% 28%, 70% 33%, 72% 39%, 79% 39%, 86% 36%, 93% 38%, 100% 35%, 100% 100%);
    height: 100%;
    width: 100%;
    background-color: rgb(141, 141, 137);
    z-index: 4;
    position: absolute;
}

.mtnfar{
    clip-path: polygon(0 100%, 0 30%, 6% 30%, 14% 29%, 21% 33%, 29% 33%, 35% 36%, 40% 33%, 46% 31%, 54% 33%, 62% 33%, 68% 35%, 74% 31%, 81% 28%, 86% 29%, 93% 28%, 100% 28%, 100% 100%);
    height: 100%;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.6);
    position: absolute;
}

.field{
    clip-path: polygon(0 90%, 0 56%, 9% 52%, 18% 50%, 30% 48%, 39% 45%, 53% 45%, 61% 46%, 72% 49%, 86% 54%, 100% 56%, 100% 90%);
    height: 111%;
    width: 100%;
    background-color: rgb(37, 95, 10);
    position: absolute;
    z-index: 5;
}

.deathmtnsmoke{
    clip-path: ellipse(7% 1% at 50% 50%);
    height: 100%;
    width: 100%;
    background-color: rgba(87, 87, 87, 0.7);
    position: absolute;
    z-index: 5;
    filter: blur(5%);
    left: 11%;
    top: -29%;
}

.stage{
    width: 98%;
    height: 33%;
    top: 66%;
    left: 10%;
    bottom: 1%;
    position: absolute;
    z-index: 5;
}

.leftplatmain{
    clip-path: polygon(74% 78%, 0% 100%, 100% 100%);
    width: 25%;
    height: 75%;
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    position: absolute;
    top: -30%;
    z-index: 10;
    filter: brightness(.7);
}
.leftplatdepthr{
    clip-path: polygon(75% 73%, 100% 93%, 100% 100%, 74% 78%);
    width: 25%;
    height: 75%;
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    position: absolute;
    top: -30%;
    left: 0%;
    z-index: 10;
    filter: brightness(.85);
}

.leftplatdepthl{
    clip-path: polygon(76% 70%, 5% 90%, 0 100%, 74% 78%);
    width: 25%;
    height: 75%;
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    filter: brightness(.9);
    position: absolute;
    top: -30%;
    left: 0%;
    z-index: 10;
}

.leftplatbody{
    position: absolute;
    width: 25%;
    height: 55%;
    top: 45%;
    background-image: url(https://i.imgur.com/4qrXpn5.png);
    z-index: 10;
    filter: brightness(.6);
}

.leftplatbodywindow{
    position: absolute;
    background-image: url(https://i.imgur.com/SWCWlYK.png);
    height: 50%;
    width: 25%;
    z-index: 11;
    left: 55%;
}

.leftplatbodydepth{
    position: absolute;
    clip-path: polygon(0 0, 56% 1%, 56% 75%, 0 100%);
    width: 1%;
    height: 25%;
    top: 45%;
    left: 25%;
    background-image: url(https://i.imgur.com/4qrXpn5.png);
    z-index: 10;
    filter: brightness(.65);
}

.mainplat{
    position: absolute;
    clip-path: polygon(0 95%, 100% 95%, 100% 100%, 0 100%);
    width: 40%;
    height: 100%;
    top: -82.5%;
    left: 18.75%;
    background-image: url(https://i.imgur.com/X5SbQvP.png);
    z-index: 9;
}

.mainplatbody{
    position: absolute;
    width: 40%;
    height: 85%;
    top: 15%;
    left: 18.75%;
    background-image: url(https://i.imgur.com/3hy9ZAN.png);
    z-index: 8;
    filter: brightness(.45);
}

.mainplatdepth{
    position: absolute;
    clip-path: polygon(10% 78%, 90% 78%, 100% 100%, 0 100%);
    width: 40%;
    height: 80%;
    top: -67.5%;
    left: 18.75%;
    background-image: url(https://i.imgur.com/ZWrZFNA.png);
    z-index: 9;
    filter: brightness(.8);
}

.mainplatdepthshadow{
    position: absolute;
    clip-path: polygon(10% 78%, 100% 78%, 100% 100%, 0 100%);
    width: 60%;
    height: 90%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 10;
}


.rightplat{
    position: absolute;
    clip-path: polygon(0 95%, 100% 95%, 100% 100%, 0 100%);
    width: 30%;
    height: 100%;
    top: -49%;
    left: 57%;
    background-image: url(https://i.imgur.com/X5SbQvP.png);
    z-index: 9;
}

.rightplatbody{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 50%;
    left: 57%;
    background-image: url(https://i.imgur.com/3hy9ZAN.png);
    z-index: 8;
    filter: brightness(.6);
}

.rightplatbodywindow{
    position: absolute;
    background-image: url(https://i.imgur.com/SWCWlYK.png);
    height: 50%;
    width: 25%;
    z-index: 11;
    left: 44%;
    top: 7%;
}

.rightplatdepth{
    clip-path: polygon(6% 93%, 6% 75%, 95% 70%, 100% 100%, 0 100%, 0 93%);
    background-image: url(https://i.imgur.com/ZWrZFNA.png);
    position: absolute;
    width: 30%;
    height: 60%;
    top: -14%;
    left: 56.85%;
    z-index: 11;
    filter: brightness(.75);
}

.towermain{
    position: absolute;
    width: 8%;
    height: 49%;
    background-image: url(https://i.imgur.com/4qrXpn5.png);
    z-index: 10;
    left: 50%;
    top: 19%;
    filter: brightness(.5);
}

.towermaintopdeco{
    position: absolute;
    width: 50%;
    height: 10%;
    background-image: url(https://i.imgur.com/n4L3eqO.png);
    z-index: 12;
    left: 27.85%;
    top: 13%;
    filter: brightness(.6);
}

.towermaingreen{
    position: absolute;
    clip-path: polygon(20% 0, 80% 0, 95% 100%, 5% 100%);
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    height: 19.75%;
    width: 6%;
    left: 51%;
    top: 1.25%;
    z-index: 11;
    filter: brightness(.8);
}

.towerplattop{
    position: absolute;
    background-image: url(https://i.imgur.com/zUr8gIM.png);
    height: 10%;
    width: 100%;
    z-index: 11;
    left: -40%;
    top: 25%;
    filter: brightness(1.75);
}

.towerplatmid{
    position: absolute;
    background-image: url(https://i.imgur.com/zUr8gIM.png);
    height: 10%;
    width: 100%;
    z-index: 11;
    left: -4%;
    top: 50%;
    filter: brightness(1.75);
}

.towerplatlow{
    position: absolute;
    background-image: url(https://i.imgur.com/zUr8gIM.png);
    height: 10%;
    width: 100%;
    z-index: 11;
    left: -40%;
    top: 75%;
    filter: brightness(1.75);
}

.towerwindow{
    position: absolute;
    background-image: url(https://i.imgur.com/deOBHpX.png);
    height: 25%;
    width: 100%;
    z-index: 11;
    left: 40%;
    top: 16%;
}

.lefttowermain{
    position: absolute;
    clip-path: polygon(50% 0%, 40% 100%, 60% 100%);
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    height: 50%;
    width: 28%;
    top: 17%;
    left: 25%;
    z-index: 10;
    filter: brightness(.8);
}

.lefttowerdepth{
    position: absolute;
    clip-path: polygon(50% 0%, 63% 93%, 60% 100%);
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    height: 50%;
    width: 28%;
    top: 17%;
    left: 25%;
    z-index: 10;
    filter: brightness(.6);
}

.righttowermain{
    position: absolute;
    clip-path: polygon(45% 50%, 55% 50%, 59% 100%, 42% 100%);
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    height: 55%;
    width: 50%;
    top: 25%;
    left: 60%;
    z-index: 10;
    filter: brightness(.65);
}

.righttowerdepth{
    position: absolute;
    clip-path: polygon(57% 50%, 59% 50%, 55% 100%, 52% 95%);
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    height: 55%;
    width: 48%;
    top: 25%;
    left: 55%;
    z-index: 10;
    filter: brightness(.575);
}

.righttowerwindow{
    position: absolute;
    background-image: url(https://i.imgur.com/9SR8ybj.png);
    height: 10%;
    width: 10%;
    top: 80%;
    left: 45%;
    z-index: 11;
    filter: brightness(.5);
}

.righttowerdoor{
    position: absolute;
    clip-path: polygon(53% 78%, 57% 80%, 55% 100%, 51% 95%);
    background-color: black;
    height: 60%;
    width: 25%;
    top: 20%;
    left: 67.5%;
    z-index: 10;
    filter: opacity(.5);
}

.decoplatbody{
    position: absolute;
    width: 20%;
    height: 12.5%;
    top: 86.5%;
    left: 34%;
    background-image: url(https://i.imgur.com/4qrXpn5.png);
    z-index: 10;
    filter: brightness(.5);
}

.decoplatwindow{
    position: absolute;
    background-image: url(https://i.imgur.com/V65i1PE.png);
    width: 33%;
    height: 100%;
    left: 34%;
    top: 5%;
}

.decoplatdepth{
    clip-path: polygon(2% 81%, 100% 80%, 100% 100%, 0% 100%);
    background-image: url(https://i.imgur.com/ZWrZFNA.png);
    position: absolute;
    width: 20%;
    height: 20%;
    top: 67%;
    left: 34%;
    z-index: 10;
    filter: brightness(.575);
}

.decoplattower{
    position: absolute;
    clip-path: polygon(50% 0%, 40% 100%, 60% 100%);
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    height: 25%;
    width: 24%;
    top: 62%;
    left: 32.5%;
    z-index: 10;
    filter: brightness(.7);
}

.decoplattowerdepth{
    position: absolute;
    clip-path: polygon(50% 0%, 63% 93%, 60% 100%);
    background-image: url(https://i.imgur.com/xftaZ2S.png);
    height: 25%;
    width: 24%;
    top: 62%;
    left: 32.5%;
    z-index: 10;
    filter: brightness(.90);
}

.kirbybody{
    position: absolute;
    clip-path: circle(18% at 50% 50%);
    height: 100%;
    width: 100%;
    z-index: 13;
}

.kirbyhandleft{
    position: absolute;
    clip-path: circle(8.9% at 50% 50%);
    height: 100%;
    width: 100%;
    z-index: 13;
    left: -12%;
    top: 5%;
}

.blue{
    background-color:rgb(0, 140, 255);
}

.pink{
    background-color: pink;
}

.green{
    background-color: rgb(4, 221, 4);
}

.kirbyhandright{
    position: absolute;
    clip-path: circle(8.9% at 50% 50%);
    height: 100%;
    width: 100%;
    z-index: 20;
    left: 12%;
    top: 5%;

}

.kirbyhandright:hover{
    animation-name: waving;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.kirbyfootleft{
    position: absolute;
    clip-path: ellipse(13% 11% at 50% 50%);
    background-color: rgb(194, 10, 10);
    height: 60%;
    z-index: 13;
    width: 60%;
    top: 50%;
    left: 12%;
}

.kirbyfootright{
    position: absolute;
    clip-path: ellipse(13% 11% at 50% 50%);
    background-color: rgb(194, 10, 10);
    height: 60%;
    width: 60%;
    z-index: 13;
    top: 50%;
    left: 26%;
}

.kirby1{
    top: 49%;
    left: 47%;
    position: absolute;
    z-index: 14;    
    height: 10%;
    width: 10%;
}

.kirby2{
    position: absolute;
    z-index: 13;
    top: 68%;
    left: 18%;
    height: 10%;
    width: 10%;
}

.kirby3{
    position: absolute;
    z-index: 13;
    top: 71%;
    left: 68%;
    height: 10%;
    width: 10%;
}

.kirbyeyewhite{
    position: absolute;
    clip-path: polygon(48% 7%, 52% 10%, 53% 13%, 54% 20%, 54% 26%, 53% 31%, 52% 36%, 48% 38%, 43% 36%, 42% 32%, 41% 26%, 40% 21%, 41% 15%, 43% 10%);
    background-color: white;
    height: 20%;
    width: 40%;
    z-index: 15;
    left: 2.5%;
    top: 2%;
}

.kirbyeyeblack{
    position: absolute;
    clip-path: polygon(48% 7%, 52% 10%, 53% 13%, 54% 20%, 54% 26%, 53% 31%, 52% 36%, 48% 38%, 43% 36%, 42% 32%, 41% 26%, 40% 21%, 41% 15%, 43% 10%);
    background-image: linear-gradient(blue, black);
    height: 50%;
    width: 45%;
    z-index: 14;
}

.lefteye{
    position: absolute;
    z-index: 13;
    top: 29%;
    left: 23%;
    height: 100%;
    width: 100%;
}

.righteye{
    position: absolute;
    z-index: 13;
    top: 29%;
    left: 33%;
    height: 100%;
    width: 100%;
}

.kirbymouth{
    clip-path: polygon(7% 45%, 8% 39%, 12% 38%, 43% 37%, 80% 37%, 84% 41%, 84% 46%, 78% 50%, 52% 64%, 48% 66%, 42% 69%, 37% 68%, 33% 64%, 11% 49%);
    background-color: crimson;
    position: absolute;
    height: 35%;
    width: 10%;
    z-index: 15;
    left: 45%;
    top: 40%;
}

@keyframes waving {
    0% {}
    25% {
      transform: translateX(2%) translateY(-2%);
    }
    50% {
      transform: translateX(4%) translateY(-6%);
    }
    75% {
      transform: translateX(4%) translateY(-9%);
    }
    100% {
      transform: translateX(3%) translateY(-13%);
    }
  }

  .hidden-box {
    display: none;
    position: absolute;
    width: 85%;
    height: 85.25%;
    left: 7.5%;
    top: 5.75%;
    background-color: rgb(0, 0, 0);
    z-index: 50;
}


.cableports{
    position: absolute;
    clip-path: ellipse(49% 8% at 50% 50%);
    width: 5%;
    height: 5%;
    left: 46%;
    top: 83.1%;
    background-color:rgba(110, 110, 110, 0.76);
    z-index: 8;
}

.video{
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 34%, 71% 53%, 71% 100%, 27% 100%, 27% 53%, 0 31%);
    width: .5%;
    height: 2%;
    left: 47%;
    top: 85.5%;
    background-color:rgb(214, 200, 0);
    z-index: 25;
}

.audiol{
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 34%, 71% 53%, 71% 100%, 27% 100%, 27% 53%, 0 31%);
    width: .5%;
    height: 2%;
    left: 48%;
    top: 85.5%;
    background-color:rgb(255, 255, 255);
    z-index: 25;
}

.audior{
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 34%, 71% 53%, 71% 100%, 27% 100%, 27% 53%, 0 31%);
    width: .5%;
    height: 2%;
    left: 49%;
    top: 85.5%;
    background-color:rgb(214, 0, 0);
    z-index: 25;
}

.rcacablebranch{
    clip-path: polygon(14% 0, 21% 0, 19% 11%, 20% 20%, 20% 29%, 22% 35%, 30% 43%, 44% 41%, 44% 28%, 46% 16%, 48% 7%, 47% 0, 53% 0, 54% 9%, 53% 16%, 52% 23%, 52% 30%, 53% 39%, 52% 45%, 64% 44%, 71% 38%, 78% 31%, 81% 23%, 80% 14%, 81% 4%, 79% 0%, 86% 0%, 88% 6%, 86% 15%, 88% 26%, 86% 33%, 80% 41%, 67% 50%, 54% 52%, 55% 63%, 56% 73%, 54% 79%, 55% 90%, 55% 100%, 44% 100%, 44% 86%, 46% 75%, 43% 57%, 43% 50%, 27% 49%, 14% 42%, 12% 25%, 13% 11%);
    width: 3%;
    height: 3%;
    left: 46.75%;
    top: 87%;
    background-color:rgb(0, 0, 0);
    z-index: 24;
    position: absolute;
}

.n64{
    position: absolute;
    width: 10%;
    height: 10%;
    top: 89.8%;
    left: 44.75%;
    z-index: 26;
}


.n64main{
    position: absolute;
    clip-path: polygon(10% 60%, 28% 59%, 40% 51%, 59% 51%, 69% 59%, 90% 60%, 91% 100%, 9% 100%);
    background-color:rgb(31, 31, 31);
    height: 100%;
    width: 100%;
    z-index: 20;
}



.n64logo{
    position: absolute;
    background-image: url(https://i.imgur.com/M48DWYc.png);
    z-index: 28;
    height: 15%;
    width: 8%;
    left: 42%;
    top: 82.25%;
}

.n64depth{
    position: absolute;
    clip-path: polygon(17% 7%, 10% 21%, 10% 61%, 90% 61%, 90% 18%, 83% 6%, 66% 0, 31% 0);
    background-color:rgb(29, 29, 29);
    height: 100%;
    width: 100%;
}

.n64rfootdepth{
    position: absolute;
    clip-path: polygon(0 29%, 36% 28%, 30% 0, 60% 2%, 78% 9%, 93% 23%, 97% 49%, 93% 75%, 75% 89%, 41% 93%, 15% 85%, 3% 61%);
    background-color:rgb(34, 34, 34);
    height: 20%;
    width: 12%;
    left: 85.25%;
    top: 69%;
    z-index: 21;
}

.n64rfoot{
    position: absolute;
    clip-path: polygon(0 0, 78% 0, 76% 100%, 0% 100%);
    background-color:rgb(29, 29, 29);
    height: 20%;
    width: 15%;
    left: 85.25%;
    top: 80%;
    z-index: 21;
}

.n64lfootdepth{
    position: absolute;
    clip-path: polygon(2% 29%, 14% 10%, 38% 2%, 62% 0, 64% 28%, 100% 29%, 98% 68%, 87% 85%, 63% 96%, 33% 96%, 10% 90%, 2% 69%);
    background-color:rgb(34, 34, 34);
    height: 20%;
    width: 15%;
    left: .5%;
    top: 69%;
    z-index: 21;
}

.n64lfoot{
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
    background-color:rgb(29, 29, 29);
    height: 20%;
    width: 15%;
    left: .75%;
    top: 80%;
    z-index: 21;
}

.p1{
    position: absolute;
    clip-path: circle(15% at 50% 50%);
    background-color: gray;
    left: 10%;
    top: 75%;
    height: 25%;
    width: 25%;
    z-index: 27;
}

.p2{
    position: absolute;
    clip-path: circle(15% at 50% 50%);
    background-color: gray;
    left: 25%;
    top: 75%;
    height: 25%;
    width: 25%;
    z-index: 27;
}

.p3{
    position: absolute;
    clip-path: circle(15% at 50% 50%);
    background-color: gray;
    left: 50%;
    top: 75%;
    height: 25%;
    width: 25%;
    z-index: 27;
}

.p4{
    position: absolute;
    clip-path: circle(15% at 50% 50%);
    background-color: gray;
    left: 65%;
    top: 75%;
    height: 25%;
    width: 25%;
    z-index: 27;
}

.n64light{
    position: absolute;
    clip-path: ellipse(28% 11% at 50% 50%);
    background-color:rgb(255, 0, 0, 0.8);
    border: 2px, rgba(255, 0, 0, 0.2), solid;
    height: 10%;
    width: 10%;
    left: 44%;
    top: 74%;
    z-index: 27;
}

.n64gameslot{
    position: absolute;
    clip-path: ellipse(32% 7% at 50% 50%);
    background-color: gray;
    height: 30%;
    width: 60%;
    left:20%;
    top: 17%;
    z-index: 27;
}
.n64game{
    position: absolute;
    clip-path: polygon(27% 34%, 68% 34%, 88% 46%, 100% 68%, 100% 100%, 0 100%, 0 71%, 8% 48%);
    background-color: gray;
    height: 50%;
    width: 35%;
    left:32%;
    top: -18%;
    z-index: 27;
}

.n64powercord{
    position: absolute;
    clip-path: polygon(0% 29%, 2% 20%, 9% 16%, 15% 20%, 16% 24%, 17% 31%, 18% 39%, 21% 47%, 25% 54%, 38% 55%, 48% 55%, 57% 47%, 66% 38%, 72% 31%, 79% 22%, 84% 14%, 87% 6%, 88% 0, 90% 0, 89% 7%, 87% 14%, 84% 22%, 79% 29%, 73% 35%, 68% 42%, 59% 52%, 45% 60%, 32% 60%, 23% 55%, 18% 49%, 16% 43%, 16% 37%, 15% 30%, 14% 25%, 9% 21%, 5% 25%);
    background-color: black;
    height: 12%;
    width: 42%;
    top: 88%;
    left: 52%;
    z-index: 20;
}

.outlet{
    position: absolute;
    clip-path: polygon(23% 0, 100% 12%, 94% 94%, 18% 84%);
    background-color: rgb(224, 223, 221) ;
    height: 10%;
    width: 2.5%;
    left: 88.15%;
    top: 80%;
    z-index: 10;
    transform: rotate(20%);
}

.plug1{
    position: absolute;
    clip-path: polygon(42% 23%, 80% 22%, 100% 35%, 100% 64%, 82% 76%, 45% 75%, 11% 74%, 1% 61%, 0 39%, 11% 25%);
    background-color: rgb(238, 238, 238);
    height: 40%;
    width: 35%;
    top: 15%;
    left: 34%;
}

.plug2{
    position: absolute;
    clip-path: polygon(27% 32%, 66% 26%, 79% 35%, 79% 68%, 65% 75%, 23% 71%, 15% 61%, 16% 43%);
    background-color: black;
    height: 40%;
    width: 50%;
    top: 55%;
    left: 26%;
}

.window{
    clip-path: polygon(0 11%, 81% 0, 81% 82%, 0% 100%);
    position: absolute;
    height: 50%;
    width: 15%;
    top: 25%;
    left: 5%;
    z-index: 6;

}

.silltop{
    position: absolute;
    clip-path: polygon(8% 49%, 90% 38%, 90% 29%, 8% 41%);
    background-color: rgb(226, 221, 216);
    height: 100%;
    width: 100%;
    top: -30%;
    left: -8%;
    z-index: 7;
}

.sillbottom{
    position: absolute;
    clip-path: polygon(7% 54%, 90% 38%, 90% 24%, 8% 41%);
    background-color: rgb(231, 227, 221);
    height: 100%;
    width: 100%;
    top: 50%;
    left: -8%;
    z-index: 7;
}

.windowdepth{
    position: absolute;
    clip-path: polygon(100% 100%, 100% 0, 95% 10%, 95% 89%);
    background-color: rgb(218, 213, 207);
    height: 85%;
    width: 75%;
    left: 6%;
    z-index: 8;
}

.outside{
    position: absolute;
    clip-path: polygon(0 11%, 81% 0, 81% 82%, 0% 100%);
    background-image: linear-gradient(violet, orange, aquamarine) ;
    width: 97%;
    height: 97%;
}
.sun{
    position: absolute;
    clip-path: circle(10% at 50% 50%);
    background-color: rgb(255, 123, 0);
    width: 75%;
    height: 75%;
    left: -5%;
    top: 35%;
}

.fieldirl{
    clip-path: polygon(0 81%, 99% 59%, 100% 100%, 0% 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 112, 10);
}

.windowdivvert{
    position: absolute;
    clip-path: polygon(52% 0, 56% 0, 56% 100%, 52% 100%);
    background-color: rgb(214, 208, 208);
    width: 100%;
    height: 100%;
    left: -15%;

}

.windowdivhoriz{
    position: absolute;
    clip-path: polygon(100% 38%, 100% 42%, 0 60%, 0 56%);
    background-color: rgb(211, 205, 205);
    width: 100%;
    height: 90%;
    left: -15%;
    top: 10%;
}